<header>
    <div class="headerContent">
        <div class="textHeader">
            Blog
        </div>
        <div class="buttonContent">
            <div class="nameHeader">
                {% if app.user %}
                    {{ app.user.username }}
                {% endif %}
            </div>
            <div class="buttonHeader">
             {% if (app.user!=null and  is_granted('ROLE_ADMIN')) %}
                 <a class="button" href="{{ path('easyadmin') }}">Админка</a>
                 {% endif %}
                <a class="button" href="{{ path('about') }}">О проекте</a>
                <a class="button" href="{{ path('posters_index') }}">Главная</a>
                {% if app.user %}
                    <a class="button" href="{{ path('posters_new') }}">Добавить пост</a>
                    <a class="button" href="{{ path('app_logout') }}">Выйти</a>
                {% else %}
                    <a class="button" href="{{ path('app_register') }}">Регистрация</a>
                    <a class="button" href="{{ path('app_login') }}">Войти</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>